header{
	background-color: black;
	padding:15px;
	column-width: 50px;
}
ul{
	list-style: none;
	padding-left:0px;
}

a{
	color:white;
	text-decoration: none;
	margin-left: 0px;
}

main{
	background-color: lightblue;

}

.slider-img{
	width: 100%
}

.image{
	width: 200px;
	height: 200px;
	float:left;
	margin: 13px;
}

.p-text{
	column-count: 4;
	column-rule: 2px solid black;
	padding-bottom: 10px;
}

.footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 0px 10px 12px 10px;
}